.content{
    margin:3%;
}
.content-head-text{
    border-bottom:1px solid black;
}
a.nav-link:hover{
    color:lightgray;
}
table{
    width:80%;
    margin:0;
    
}
.input{
    width:100%;
}
div.form-container{
    

}
form{
    width:80%;
    margin:auto;
}
.btn{
    padding:10px;
}