.content{
    margin:3%;
}
.content-head-text{
    border-bottom:1px solid black;
}
a.nav-link:hover{
    color:lightgray;
}
.tab{
    width:80%;
    margin:0;
    
}
.form-container{
    margin:auto;    
}
li.nav-item{
    margin:20px;
}